@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}
.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./Pages/backgroundimage.png"); /* correct relative path */
  background-size: cover;
  background-position: center;
}
